<!doctype html>
<html lang="en">
<head>
    {{head}}
    <title>{{server}}</title>
</head>
<body>
<div id="content" class="home">
    <h1>Dummies &amp; Dragons</h1>
    <button id="rollTheDice()" class="btn">Würfeln</button>
</div>
</body>
</html>
