<!doctype html>
<html lang="en">
<head>
    {{head}}
    <title>{{server}} - Not Found</title>
</head>
<body>
    <div id="content" class="notFound">
        <h1>You shall not pass!</h1>
        <p>I'm sorry but the page you seek ({{path}}) is in an other castle.</p>
        <a href="javascript:window.history.back()" class="btn">Take one step back!</a>
    </div>
</body>
</html>
